# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
docs/**

node_modules/
.vscode-test/

# Build and package artifacts
dist/
build/
*.vsix

*.local
.yarn/*
.tmp/*

# Editor directories and files
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.swc/

*.tsbuildinfo
