.git/**
.gitignore
.vscode/**
.yarnrc.yml
docs/**
scripts/**
src/**
test/**
.vscode-test/**
tsconfig.json
tsdown.config.ts
tsdown.tests.config.ts
*.vsix
.yarn/*
.tmp/**
yarn.lock
node_modules/**

# Generated package artifacts
build/**
test-workspace/**
